body {
  background-color: #0d1117;
}

h1 {
  color: #58a6ff;
}

.flexbox-nav {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 20px;
}

h2 {
  color: #e6edf3;
}

.text-explore {
  color: #8b949e;
}

.browse {
  color: #0d1117;
  background-color: #58a6ff;
}

.card-one {
  border-radius: 70%;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  width: 30rem;
}

.CP-image {
  width: 30rem;
}

.CP {
  color: #e6edf3;
}

.genre-CP {
  color: #8b949e;
}

.card-two {
  border-radius: 70%;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  width: 30rem;
}

.ER-image {
  width: 30rem;
}

.ER {
  color: #e6edf3;
}

.genre-ER {
  color: #8b949e;
}

.card-three {
  border-radius: 70%;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  width: 30rem;
}

.GTA-image {
  width: 30rem;
}

.GTA {
  color: #e6edf3;
}

.genre-GTA {
  color: #8b949e;
}

.card-four {
  border-radius: 70%;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  width: 30rem;
}

.MC-image {
  width: 30rem;
}

.MC {
  color: #e6edf3;
}

.genre-MC {
  color: #8b949e;
}

.read-btn {
  color: #0d1117;
  background-color: #58a6ff;
}
